.outside {
    background-color: #dbf0fa;    
    display: 'flex';
    flex: row;
    align-items: 'center';
    justify-content: 'center';
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    width: 200px;
    margin: auto;
}

.card {
    background-color: white;
    width: 60%;
    min-width: 500px;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}
